/* toper部分：多个网页共同的部分 */
*{
	margin: 0;
	padding: 0;
}
body{min-width: 1200px;}
a{
	text-decoration: none;
	color: #666;
}
li{list-style-type: none;}
header .toper{
	width: 100%;
	background-color: #f1f1f1;
	border-bottom: 1px solid #e2e2e2;
	font-family: "宋体";
	font-size: 12px;
	line-height: 24px;
	color: #666;
}
header .toper .center{
	height: 24px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

header .toper .center .left{
	position: absolute;
	left: 0;
}
header .toper .center .right{
	position: absolute;
	right: 0;
}
header .toper .center .left li{
	margin-left: 20px;
	padding-left: 16px;
	float: left;
	background: url('../img/slogo1.png') 0 0 no-repeat;
}
header .toper .center .left li:nth-child(1){background-position: 0 7px;}
header .toper .center .left li:nth-child(2){background-position: 0 -127px;}
header .toper .center .right li{float: left;}
header .toper .center .right li>a{padding:0 12px;}
header .toper .center .right li:nth-child(1) a{border-right: 1px solid #5d5d5d;}
header .toper .center .right li:nth-child(2) a{border-left: 1px solid #5d5d5d;}
header .toper .myEgg div:nth-child(1) span,header .toper .server div:nth-child(1) span{
	display: inline-block;
	margin-bottom: 2px;
	width: 8px;
	height: 4px;
	background: url(../img/slogo2.png) no-repeat;
	background-position: 0 -27px;
}

header .toper .center .right .hover{
	display: none;
	position: absolute;
	top: 22px;
	border: 1px solid #e2e2e2;
	box-shadow: 2px 2px 2px 1px #E2E2E2;
	z-index: 999;
}
header .toper .center .right .myEgg .hover{
	left: 270px;
	width: 100px;
	height: 50px;
	text-align: center;
}
header .toper .center .right .myEgg .hover span{
	font-size: 12px;
	line-height: 50px;
}
header .toper .center .right .myEgg .hover a{color: #234fa7;}

header .toper .center .right .server .hover{
	left: 380px;
	width: 120px;
	height:80px;
	cursor: default;
}
header .toper .center .right .server .hover div{
	width: 120px;
	height: 15px;
	line-height: 15px;
	text-align: center;
}
header .toper .center .right .server .hover div:nth-child(1){
	font-size: 12px;
	color: orange;
	font-family: "微软雅黑";
}
header .toper .center .right .server .hover div:nth-child(2){
	font-size: 10px;
	color: #484848;
	font-family: "微软雅黑";
}
header .toper .center .right .server .hover div:nth-child(3){
	font-size: 10px;
	color: #484848;
	font-family: "宋体";
}
header .toper .center .right .server .hover span{
	display: block;
	float: left;
	padding: 3px;
	margin: 0 7px;
	font-size: 10px;
	color: white;
	font-family: "宋体";
	background-color: #4F9EE7;
	cursor:pointer;
}
	/* hover伪类 */
header .toper .myEgg:hover,header .toper .server:hover{background-color: white;}
header .toper .myEgg:hover div:nth-child(1) span,header .toper .server:hover div:nth-child(1) span{background-position: -9px -27px;}
header .toper .myEgg:hover .hover,header .toper .server:hover .hover{display: block;}
header .toper .center .left>li:hover>a,header .toper .center .right>li:hover>a,header .toper .center .right .myEgg .hover a:hover{text-decoration: underline;}
header .toper .center .left>li:nth-child(1):hover{background-position: 0 -13px;}
header .toper .center .left>li:nth-child(2):hover{background-position: 0 -152px;}