/* toper部分：多个网页共同的部分 */
*{
	margin: 0;
	padding: 0;
}
body{min-width: 1200px;}
a{
	text-decoration: none;
	color: #666;
}
li{list-style-type: none;}
header .toper{
	width: 100%;
	background-color: #f1f1f1;
	border-bottom: 1px solid #e2e2e2;
	font-family: "宋体";
	font-size: 12px;
	line-height: 24px;
	color: #666;
}
header .toper .center{
	height: 24px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

header .toper .center .left{
	position: absolute;
	left: 0;
}
header .toper .center .right{
	position: absolute;
	right: 0;
}
header .toper .center .left li{
	margin-left: 20px;
	padding-left: 16px;
	float: left;
	background: url('../img/slogo1.png') 0 0 no-repeat;
}
header .toper .center .left li:nth-child(1){background-position: 0 7px;}
header .toper .center .left li:nth-child(2){background-position: 0 -37px;}
header .toper .center .left li:nth-child(3){background-position: 0 -85px;}
header .toper .center .right li{float: left;}
header .toper .center .right li>a{padding:0 12px;}
header .toper .center .right li:nth-child(1) a{border-right: 1px solid #5d5d5d;}
header .toper .center .right li:nth-child(2) a{border-left: 1px solid #5d5d5d;}
header .toper .myEgg div:nth-child(1) span,header .toper .server div:nth-child(1) span{
	display: inline-block;
	margin-bottom: 2px;
	width: 8px;
	height: 4px;
	background: url(../img/slogo2.png) no-repeat;
	background-position: 0 -27px;
}

header .toper .center .right .hover{
	display: none;
	position: absolute;
	top: 22px;
	border: 1px solid #e2e2e2;
	box-shadow: 2px 2px 2px 1px #E2E2E2;
	z-index: 999;
}
header .toper .center .right .myEgg .hover{
	left: 270px;
	width: 100px;
	height: 50px;
	text-align: center;
}
header .toper .center .right .myEgg .hover span{
	font-size: 12px;
	line-height: 50px;
}
header .toper .center .right .myEgg .hover a{color: #234fa7;}

header .toper .center .right .server .hover{
	left: 380px;
	width: 120px;
	height:80px;
	cursor: default;
}
header .toper .center .right .server .hover div{
	width: 120px;
	height: 15px;
	line-height: 15px;
	text-align: center;
}
header .toper .center .right .server .hover div:nth-child(1){
	font-size: 12px;
	color: orange;
	font-family: "微软雅黑";
}
header .toper .center .right .server .hover div:nth-child(2){
	font-size: 10px;
	color: #484848;
	font-family: "微软雅黑";
}
header .toper .center .right .server .hover div:nth-child(3){
	font-size: 10px;
	color: #484848;
	font-family: "宋体";
}
header .toper .center .right .server .hover span{
	display: block;
	float: left;
	padding: 3px;
	margin: 0 7px;
	font-size: 10px;
	color: white;
	font-family: "宋体";
	background-color: #4F9EE7;
	cursor:pointer;
}
	/* hover伪类 */
header .toper .myEgg:hover,header .toper .server:hover{background-color: white;}
header .toper .myEgg:hover div:nth-child(1) span,header .toper .server:hover div:nth-child(1) span{background-position: -9px -27px;}
header .toper .myEgg:hover .hover,header .toper .server:hover .hover{display: block;}
header .toper .center .left>li:hover>a,header .toper .center .right>li:hover>a,header .toper .center .right .myEgg .hover a:hover{text-decoration: underline;}
header .toper .center .left>li:nth-child(1):hover{background-position: 0 -13px;}
header .toper .center .left>li:nth-child(2):hover{background-position: 0 -57px;}
header .toper .center .left>li:nth-child(3):hover{background-position: 0 -105px;}



/* 菜单栏部分 */
header nav .center{
	height: 65px;
	padding: 25px 0px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
header nav .center .logo{
	display: block;
	float: left;
	width: 318px;
	height: 65px;
	background: url('../img/logo.png') no-repeat;
}
header nav .center>.title{
	display: block;
	float: left;
	margin-left: 30px;
	height: 65px;
	padding: 0px 15px;
	border-left: 1px solid #f1f1f1;
	line-height: 65px;
	font-size: 24px;
	color: #484848;
	font-family: "微软雅黑";
	
}


/* 登陆框 */
section{
	min-width: 1200px;
	padding: 44px 0;
	background-color: #E3E3E3;
}
section .center{
	width: 1100px;
	height: 398px;
	padding: 0 50px;
	margin: 0 auto;
	
}
section .center>img{
	display: block;
	float: left;
}
section .center>.list{
	width: 365px;
	height: 300px;
	float: right;
	background-color: white;
}
section .center>.list>.listTitle{
	width: 200px;
	padding-top: 20px;
	padding-left: 25px;
	float: left;
	font-size: 18px;
	color: #333;
	font-family: "微软雅黑";
}
section .center>.list>.enroll{
	display: block;
	padding-top: 20px;
	padding-right: 25px;
	float: right;
	font-size: 12px;
	color: #039;
	font-family: "微软雅黑";
}
section .center>.list>.name{
	width: 280px;
	height: 53px;
	margin: 0px auto;
	padding-top: 20px;
	position: relative;
	clear: both;
}
section .center>.list>.name span{
	display: block;
	height: 33px;
	width: 30px;
	background: url(../img/slogo06.png) no-repeat;
	background-position: 0px 0px;
	position: absolute;
	top: 20px;
	left: 0px;
}
section .center>.list>.name input{
	width: 248px;
	height: 31px;
	line-height: 31px;
	border: 1px solid #E3E3E3;
	margin-left: 30px;
	font-size: 14px;
}
section .center>.list>.pw{
	width: 280px;
	height: 53px;
	margin: 0px auto;
	padding-top: 20px;
	position: relative;
	clear: both;
}
section .center>.list>.pw span{
	display: block;
	height: 33px;
	width: 30px;
	background: url(../img/slogo06.png) no-repeat;
	background-position: 0px -59px;
	position: absolute;
	top: 20px;
	left: 0px;
}
section .center>.list>.pw input{
	width: 248px;
	height: 31px;
	line-height: 31px;
	border: 1px solid #E3E3E3;
	margin-left: 30px;
	font-size: 14px;
}
section .center>.list>.enroll:hover{text-decoration: underline;}
section .center>.list>a:nth-child(5){
	display: block;
	padding: 15px 25px 10px;
	float: left;
	font-size: 12px;
	color: #039;
	font-family: "微软雅黑";
}
section .center>.list>a:nth-child(5):hover{text-decoration: underline;}

section .center>.list>a:nth-child(6){
	display: block;
	padding: 15px 25px 10px;
	float: right;
	font-size: 12px;
	color: #039;
	font-family: "微软雅黑";
}
section .center>.list>a:nth-child(6):hover{text-decoration: underline;}
section .center>.list>a:nth-child(7){
	display: block;
	clear: both;
	width: 260px;
	height: 32px;
	margin: 0 auto;
	line-height: 32px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	font-family: "宋体";
	text-align: center;
	background-color: #FF6600;
}
section .center>.list>a:nth-child(7):hover{
	background-color: orange;
}
